.App {
  text-align: center;
  margin-top: 50px;
}

.RouterLink {
  padding: 20px;
  margin-bottom: 30px;
}

.RouterLink:hover {
  background-color: #D2394D;
}
  
.Menu {
  margin-top: 8%;
  width: 50%;
}

header h1{
  font-size: 60px;
  color: aliceblue;
  font-family: "Arial Black", serif;
}

body{
  background-image: url('./images/checkmate.jpg');
}